//-----------------> CSS Reset <--------------------//

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//-----------------> Theme <--------------------//

:root {
  --orange: #f29f06;
  --dark-navy: #252b3d;
  --light-navy: #2c3448;
  --darker-navy: #212739;
  --icon: #394158;
  --text: #AFB0B2;
  --extra: #efa94d;
  --extra: #f2800a;
}

.orange {
  color: var(--orange);
}

.dark-navy {
  color: #1B274B
}

.light-navy {
  color: #2B3D71
}

.one {
  background-color: var(--dark-navy);
}

.two {
  background-color: var(--light-navy);
}

.three {
  background-color: var(--darker-navy);
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  color: var(--orange);
  cursor: pointer;
}

p {
  line-height: 2.0;
}

ul {
  list-style-type: circle;
}


//-----------------> Styling <--------------------//

.wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: var(--dark-navy);
  color: var(--text);
  font-family: 'Lato', sans-serif;
}

.section {
  padding: 80px;
}

.section-title {
  color: var(--orange);
  text-align: right;
}

.section-subtitle {
  font-size: large;
  font-weight: bolder;
}
.section-subtitle:hover {
  color: var(--orange);
  cursor: pointer;
}

//-----------------> Headline <--------------------//

.headline {
  height: 100vh;
}

.image-container {
  padding-top: 38vh;
  text-align: center;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.headline-content {
  padding-top: 38vh;
  padding-left: 80px;
  padding-right: 80px;
}

.name {
  font-size: 70px;
  padding-bottom: 25px;
}

.first-name {
  font-weight: 300;
}

.cam-headline {
  line-height: 40px;
}

.subtitle {
  height: 40px;
  display: grid;
  grid-template-columns: 45% 55%;
  padding-bottom: 60px;
  padding-left: 5px;
  font-weight: 100;
  font-size: 20px;
  border-bottom: solid 1px var(--text);
}

.social-links {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  column-gap: 10px;
  height: 40px;
  padding-left: 40px;
  border-left: solid 1px var(--text);
}

.outer-icon {
  height: 40px;
  width: 40px;
  border-radius: 3px;
  background-color: var(--icon);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-icon {
  height:34px;
  width: 34px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-icon:hover {
  background-color: var(--dark-navy);
}

.sub-headline {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sub-headline-title {
  padding-top: 50px;
  font-weight: 400;
  padding-bottom: 30px;
}

.sub-headline-detail {
  font-weight: 300;
}

//-----------------> Expertise <--------------------//

.expertise {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
}

.expertise-section {
  display: grid;
  grid-template-columns: 15% 85%;
}

.expertise-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expertise-icon {
  color: var(--orange);
  padding-right: 30px;
}

//-----------------> Experience <--------------------//

.timeline-container {
  display: grid;
  grid-template-columns: 30px 250px auto;
}

.timeline-contents {
  width: 30px;
  position: relative;
}

.timeline-line {
  width: 2px;
  height: 100%;
  background-color: #464d61;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
}

.timeline-outer-circle {
  height: 22px;
  width: 22px;
  border-radius: 9px;
  background-color: var(--dark-navy);
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -9px;
  margin-top: -6px;
}

.timeline-inner-circle {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: var(--orange);
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -5px;
}

.timeline-info-date {
  font-size: x-small;
  padding-bottom: 15px;
  color: #464d61;
}

.timeline-info-title {
  padding-bottom: 15px;
}

.timeline-info-job {
  font-size: small;
  padding-bottom: 15px;
}

.timeline-info-location {
  font-size: x-small;
  color: #464d61;
}

.timeline-description {
 font-size: small;
 line-height: 2.0;
 padding-bottom: 50px;
}


//-----------------> Honors <--------------------//

.honor-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

//-----------------> Projects <--------------------//

.project-title {
  height: 40px;
  line-height: 40px;
}

.project-tools {
  height: 30px;
  line-height: 30px;
  font-size: small;
  font-weight: lighter;
  font-style: italic;
}

.project-info {
  line-height: 2.0;
  padding-bottom: 40px;
}

