//-----------------> CSS Reset <--------------------//

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//-----------------> Theme <--------------------//

:root {
  --orange: #efa94d;
  --dark-navy: #252b3d;
  --light-navy: #2c3448;
  --darker-navy: #212739;
  --icon: #394158;
  --text: #AFB0B2;
  --extra: #efa94d;
  --extra: #f2800a;
}

.orange {
  color: var(--orange);
}

.dark-navy {
  color: #1B274B
}

.light-navy {
  color: #2B3D71
}

.one {
  background-color: var(--dark-navy);
}

.two {
  background-color: var(--light-navy);
}

.three {
  background-color: var(--darker-navy);
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  color: var(--orange);
  cursor: pointer;
}

p {
  line-height: 2.0;
}


//-----------------> Styling <--------------------//

.wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: var(--dark-navy);
  color: var(--text);
  font-family: 'Lato', sans-serif;
}

.section {
  padding: 80px;
}

.section-title {
  color: var(--orange);
  text-align: right;
}

//-----------------> Headline <--------------------//

.headline {
  height: 100vh;
}

.image-container {
  padding-top: 200px;
  text-align: center;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.headline-content {
  padding-top: 200px;
  padding-left: 80px;
  padding-right: 80px;
}

.name {
  font-size: 70px;
  padding-bottom: 25px;
}

.subtitle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 60px;
  font-weight: 100;
  font-size: 20px;
  border-bottom: solid 1px var(--text);
}

.social-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 40px;
  padding-left: 20px;
  border-left: solid 1px var(--text);
}

.outer-icon {
  height: 40px;
  width: 40px;
  border-radius: 3px;
  background-color: var(--icon);
  text-align: center;
}

.inner-icon:hover {
  height:30px;
  width: 30px;
  background-color: var(--dark-navy);
}

.fab {
  padding-top: 10px;
}

.sub-headline {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sub-headline-title {
  padding-top: 50px;
  font-weight: bolder;
  padding-bottom: 30px;
}

.sub-headline-detail {
  font-weight: lighter;
}

//-----------------> Expertise <--------------------//

.expertise {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.expertise-subtitle {
  padding-bottom: 30px;
}

.expertise-section {
  padding-bottom: 30px;
}

.expertise-icon {
  color: var(--orange);
  padding-right: 30px;
}