//-----------------> CSS Reset <--------------------//

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//-----------------> Theme <--------------------//

:root {
  --orange: #efa94d;
  --dark-navy: #252b3d;
  --light-navy: #2c3448;
  --text: #AFB0B2;
}

.orange {
  color: #efa94d;
}

.dark-navy {
  color: #1B274B
}

.light-navy {
  color: #2B3D71
}

.one {
  background-color: var(--dark-navy);
}

.two {
  background-color: var(--light-navy);
}


//-----------------> Styling <--------------------//

.wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: var(--dark-navy);
  color: var(--text);
  font-family: 'Lato', sans-serif;
}

.headline {
  height: 100vh;
}

.name {
  font-size: 70px;
}

.sub-headline {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.expertise {
  display: grid;
  grid-template-columns: 1fr 1fr;
}